{% extends 'blog/base.html' %} {% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <section class="sections">
        <div class="columns">
          <div class="columns is-8 is-offset-2">
            <div class="content is-medium">
              <h2 class="subtitle is-4">{{blog.created_on|date:'M-d-Y'}}</h2>
              <h1 class="title">{{blog.title}}</h1>
              <p>
                <small
                  >Category:
                  <a href="{% url 'category_detail' blog.category.pk %}"
                    >{{blog.category}}</a
                  ></small
                >
              </p>
              {% if blog.cover_url %}

              <figure class="image is-96x96 mb-6 ml-0">
                <img src="{{ blog.cover_url }}" alt="" />
              </figure>
              {% endif %}
              <p class="mt-6"><strong>{{blog.intro}}</strong></p>

              <p>{{blog.content}}</p>

              <p><strong>{{blog.author}}</strong></p>

              <div class="blog-actions">
                <a href="{% url 'blog_edit' blog.pk %}" class="btn warn"
                  >Edit</a
                >
                <a href="{% url 'blog_delete' blog.pk %}" class="btn danger"
                  >Delete</a
                >
              </div>

              <hr />
              <h2 class="subtitle is-4">Comments</h2>

              <form method="POST" class="mb-6">
                {% csrf_token %} {{ form.as_p }}
                <div class="control">
                  <button class="button is-success">Submit Comment</button>
                </div>
              </form>

              {% for comment in blog.comments.all %}
              <article class="media box">
                <div class="media-content">
                  <strong>{{ comment.username }}</strong>
                  {{ comment.content }}
                </div>
              </article>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %}
